.category-container {
    width: 310px;          /* Reduced width */
    padding: 10px 12px 12px;  /* Reduced padding */
    background: white;
    border-radius: 15px;    /* Slightly smaller radius */
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    margin: 15px 0px;
  }
  
  h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .category-list {
    list-style: none;
    padding: 0;
  }
  
  .category-item {
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.2s ease;
  }
  
  .category-item:hover {
    background: #f5f5f5;
  }
  
  .category-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
  }

  .category-info span{
    font-size: 15px;
  }
  
  .category-icon {
    font-size: 15px;
    color: #555;
  }
  
  .task-count {
    font-size: 14px;
  font-weight: bold;
  background: #ddd;
  padding: 4px 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  margin: 0 8px;
  }
  
  .add-category {
    color: #555;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #545454;
  }

  
  .modal input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .create-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background: #ffd342;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .delete-icon {
    color: red;
    cursor: pointer;
    font-size: 16px;
  }